<!-- <p>this is single question section</p>
<div >
    <p>{{selectedQuestion.id}}</p>
    <p>{{selectedQuestion.questions}}</p> -->

    
     <div class="container-fluid">
       <form class="form-group" [formGroup]="savequestion" (ngSubmit)="onSubmit(savequestion)">
         <mat-card class="mt20">
           <p>{{minutes}}:{{seconds}} 	<mat-icon>alarm</mat-icon>Minutes and Seconds Left....</p>
           <mat-spinner mode="determinate" [value]="(time/(1*31*60))*100"></mat-spinner>
         </mat-card>
         <!-- <label for="exampleFormControlTextarea1"  style="text-align: center;">Write code here</label> -->
         <select formControlName="language" >
           <option value=""> Select Language</option>
          <!-- <small *ngIf="(!savequestion.get('passing').valid&& savequestion.get('passing').touched)" class="text-danger">Passing year is required</small> -->
        <option value="c"> c</option>
        <option value="C++">C++ </option>
        <option value="java">java</option>
        <option value="php"> php</option>
        <option value="Ruby">ruby </option>
        <option value="python">python</option>
        <option value="other">other</option>
      </select>
      <!-- <ckeditor class="form-control" [editor]="Editor" formcontrolName="textarea" id="exampleFormControlTextarea1" style="width: 630px; height: 650px;"></ckeditor> -->
         <textarea class="form-control"  formControlName="textarea" id="exampleFormControlTextarea1" cols="18"  rows="15" style="width: 620px; height: 590px;" placeholder="write code here"></textarea>
         <small *ngIf="(!savequestion.get('textarea').valid &&savequestion.get('textarea').touched)" class="text-danger">Answer are required</small>
         <!-- <button class="btn btn-primary" (click)="onSkip()">skip</button><br><br> -->
         <button class="btn btn-success mt-3" type="submit" >Submit</button>
         <!-- <button class="btn btn-success " (click)="onSave(savequestion)">Save</button> -->
        </form>
      </div>