
  <nav class="navbar navbar navbar-light" style="background-color: #e3f2fd;">
    <img src="assets/img/logo.png"  width="80" height="30">
      <a class="navbar-brand" >Admin Portal </a>
    </nav>
  
  <div style="margin: 20px;">
        <h2>Student Exam Data</h2> <button mat-button (click)="openDialog()">Result</button> 
      
      <table>
        <tr>
            <th>Id</th>
          <th>Name</th>
          <th>Phone No.</th>
          <th>Email</th>
          <th>College Name</th>
          <th>status</th>
          
        </tr>
          <tr *ngFor="let ans of ganswer" >
            <td>{{ans.answer.id}}</td>
            <td>{{ans.student?.name}}</td>
            <td>{{ans.student?.phone_number}}</td>
            <td>{{ans.student?.email}}</td>
            <td>{{ans.student?.collage_name}}</td>
            <td *ngIf="ans.answer.status!=null"><mat-icon>done</mat-icon></td>
            {{ans.answer.status}}
          </tr>
        </table>
      </div>
     

