<app-haeder></app-haeder><br><br>
<div class="container">

    
    <form [formGroup]="registerform" (ngSubmit)="onSubmit(registerform.value)" >
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            <input type="text" formControlName="name" class="form-control" id="inputEmail3" placeholder="Name">
            <small *ngIf="(!registerform.get('name').valid&& registerform.get('name').touched)" class="text-danger">name is required</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="text" class="col-sm-2 col-form-label">Father Name</label>
          <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="fatherName" id="inputPassword3" placeholder="Father name">
              <small *ngIf="(!registerform.get('fatherName').valid&& registerform.get('fatherName').touched)" class="text-danger">FatherName is required</small>

            </div>
        </div>
        
        <div class="form-group row">
          <label for="inputPassword3" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" formControlName="email" id="inputPassword3" placeholder="Email">
            <small *ngIf="(!registerform.get('email').valid&& registerform.get('email').touched)" class="text-danger">Email is required</small>

          </div>
        </div>
    
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Mobile Number</label>
      <div class="col-sm-10">
        <input matInput name="mobileNo" type="text" class="form-control" formControlName="mobileNo" id="inputPassword3" placeholder="Mobile Number">
        <mat-hint>number should be unique</mat-hint>
        <small *ngIf="(!registerform.get('mobileNo').valid && registerform.get('mobileNo').touched)" class="text-danger">Mobile Number is required</small>
        <!-- <small *ngIf="(registerform.get('mobileNo')['minlength'] || registerform.get('mobileNo')['maxlength'])" class="text-danger">Mobile should have 10 digit only</small> -->
      </div>
    </div>
    
    <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label">College Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="collegeName" id="inputPassword3" placeholder="college Name">
          <small *ngIf="(!registerform.get('collegeName').valid&& registerform.get('collegeName').touched)" class="text-danger">College Name is required</small>
          
        </div>
      </div>
    
      <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Branch</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="branch" id="inputPassword3" placeholder="Branch">
          <small *ngIf="(!registerform.get('branch').valid&& registerform.get('branch').touched)" class="text-danger">Branch is required</small>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Passing Year</label>
    <div class="col-sm-10">
    <select class="form-control" formControlName="passing">
        <small *ngIf="(!registerform.get('passing').valid&& registerform.get('passing').touched)" class="text-danger">Passing year is required</small>
      <option value="2015"> 2015</option>
      <option value="2016"> 2016</option>
      <option value="2017"> 2017</option>
      <option value="2018"> 2018</option>
      <option value="2019"> 2019</option>
      <option value="2020"> 2020</option>
      <option value="2021"> 2021</option>
      <option value="2022"> 2022</option>
      <option value="2023"> 2023</option> 
      <option value="2024"> 2024</option>
      <option value="2025"> 2025</option>
    </select>

</div>

      </div>
    
    

        <div class="form-group row">
          <div class="col-sm-10">
            <button type="button" class="btn btn-primary" (click)="onSubmit(registerform.value)" [disabled]="!registerform.valid" >Register</button>
          </div>
        </div>
      </form>

</div>
