
       <h2 style="padding: 25px;">Question section</h2><br><br>
   <div class="row">

       <div class="col-md-6" *ngFor="let ques of (gquestion || [])" style="padding: 25px;">
           <h3>{{ques.id}}</h3>
           <h3>{{ques.questions}}</h3>
           <button class="btn btn-primary" (click)="onSelet(ques)">Select</button>
       </div>

       <div class="col-md-6">
           <app-single-question [selectedQuestion] ="selectedQuestion" *ngIf="call" ></app-single-question>
       </div>
   </div>

